main*
future
# All of my nsys stats outputs start with out
out*
# All of my nsys profile outputs start with chk
chk*
# All of my nsys profile outputs dump to stdout also
stdout*
# CMake files
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
# Build dir
build/
